{% extends 'base.html' %}
{% load static %}
{% block title %}Leaderboard{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-10"></div>
            <h2>Leaderboard</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Chat Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_ in users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'main:view_user_profile' user_.slug %}">{{ user_.username }}</a>
                        </td>
                        <td>{{ user_.total_convs }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if object_list.count > 1 %}
                <center>
                    {% include "main/_pagination.html" with page=users %}
                </center>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}