body {
    background-color: #f8f9fa;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.heatmap-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow-x: auto; /* Allow horizontal scrolling */
}

#heatmap svg {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 5px;
    min-width: 850px; /* Ensure the heatmap doesn't shrink */
    height: auto;
}

@media (max-width: 768px) {
    .heatmap-container {
        overflow-x: scroll; /* Ensure horizontal scrolling on smaller devices */
        border: 1px solid #dee2e6; /* Add a border for clarity */
        padding: 5px; /* Adjust padding for smaller viewports */
    }

    #heatmap svg {
        width: 850px; /* Maintain the full size of the heatmap */
    }
}

.day-label {
    font-family: Arial, sans-serif;
    fill: #333;
}

.month-label {
    font-family: Arial, sans-serif;
    fill: #333;
}

.sidebar {
    position: sticky;
    top: 0;
}

.sidebar h5 {
    margin-bottom: 15px;
    text-align: center;
}

.sidebar .list-group-item {
    cursor: pointer;
}
.sidebar .list-group-item:hover {
    background-color: #f8f9fa;
}


